<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Preguntas</title>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <link rel='stylesheet' 
        type='text/css'
        media='only screen and (min-width: 530px) and (min-device-width: 481px)'
        href='/stylesheets/wide.css' />
  <link rel='stylesheet'
        type='text/css'
        media='only screen and (max-width: 480px)' 
        href='/stylesheets/smartphone.css' />
        <script type="text/javascript" src="/javascripts/jquery-1.11.3.js"></script>
        <script type="text/javascript" src="/javascripts/Chart.js"></script>
<script type="text/javascript">


var cerrarSesion = function(){
	//console.log("CERRANDO SESION");
	setTimeout('redireccionar()',3000);
}

var redireccionar = function(){
	document.location='../logout';
}

var activarBoton = function(nombre)
{
  //console.log("activarBoton: "+nombre);

  var hijos =($(this).siblings());

  
  hijos.each(function (index)
    {
      $(this).removeClass('active');      
	});

  
  $("#"+nombre).addClass('active');
}


$(document).ready(
  function()
  {
  	//$("#navegacion li").click(activarBoton);
  	//la pagina recarga todo por lo que no es posible seleccionar la pestaña activa con click, ya que recarga
  	// y deshabilita el css activado con addClass activando el seteado por default en el html
  	//se utiliza en su lugar las rutas especificas de las paginas visitadas 

	
    var ruta = window.location.pathname; 
   
	if(ruta === "/")
		activarBoton("inicio");
	else
	if(ruta.indexOf("/quizes")>=0)
		activarBoton("preguntas");
	else
	if(ruta === "/statistics")
		activarBoton("estadisticas");
	else
	if(ruta === "/author")
		activarBoton("creditos");	

  }  
)
</script>

<% if(session.user && session.user.cerrarSesion){%>
  <body onload="setTimeout('cerrarSesion()',100);" >      
    <div id="page-wrap">
	<header class="main" id="h1">

  		<div id="alerta" class="alert alert-danger alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <% for(var i in session.errors) { %>
		  <span><strong><%= session.errors[i].message %> </strong> </span>
		  <%} %> 
  		</div>
   <%} else {%> 
	<body >
	<div id="page-wrap">
	<header class="main" id="h1">	
<%} %>   


	
	<div class="text-right">
	<% if(!session.user) { %>
		
		<span class="well well-sm btn-block "  style="a {color: #FFF;}"><a class="btn btn-primary" href="/login">Iniciar Sesion</a></span>

	<% } else { %>


	<span   class="well well-sm btn-block " style="a {color: #FFF;}"><span class="glyphicon glyphicon-user"></span> <span style="color:#6e6e6e;padding-right:10px;"> <%= session.user.username %></span> <a class="btn btn-primary" href="/logout">Cerrar Sesion</a></span>
	
	<% }  %>
	</div>
		<h2 style="color: #00B7FF;">Quiz: el juego de las preguntas</h2>
	</header>
	<nav class="main" id="n1" role="navigation">
	
	<ul role="navigation" id="navegacion" class="nav nav-pills nav-stacked">
	  <li id="inicio" role="presentation" ><a href="/">Inicio</a></li>
	  <li id="preguntas" role="presentation" ><a href="/quizes">Preguntas</a></li>
	  <li id="estadisticas" role="presentation" ><a href="/statistics">Estadisticas</a></li>
	  <li id="creditos" role="presentation" ><a href="/author">Creditos</a></li>
	</ul>

	</nav>



	<section class="main" id="s1">
	<% if(errors.length) { %>
		<span id="ErrorMsgs">
		
		<% for(var i in errors) { %>
		<!--<span> <%= errors[i].message %> </span><br/>-->
		<div class="alert alert-danger alert-dismissible" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <span><strong><%= errors[i].message %> </strong> </span>
		</div>

		<% } %>
		</span>
		<% } %>
	<div style="padding: 0px;"><%- body %></div>
	</section>

	<footer class="main" id="f1">
	<a href="http://es.wikipedia.org/wiki/Quiz">
	¿Que es un Quiz?
	</a>
	<br>
	<a href="https://github.com/jcesquivelojeda/quiz-2015">
	Conoce el código del proyecto!!!
	</a>
	</footer>
  </div>
   
  </body>
</html>
