<div class="panel panel-default ">
  <div class="panel-heading">
    <h3 class="panel-title">Agregar Quiz</h3>
  </div>
  <div class="panel-body text-left">
	
	<label for="tema" class="rem">Tema:</label>	
	<select  class="form-control" name="quiz[tema]">
	  <option value="geografia" <%= quiz.tema === "geografia" || quiz.tema === ""  ? "selected":"" %> >Geografia</option>
	  <option value="tecnologia" <%= quiz.tema === "tecnologia" ? "selected":"" %> >Tecnología</option>
	  <option value="humanidades" <%= quiz.tema === "humanidades" ? "selected":"" %> >Humanidades</option>
	  <option value="ocio" <%= quiz.tema === "ocio" ? "selected":"" %> >Ocio</option>
	  <option value="ciencia" <%= quiz.tema === "ciencia" ? "selected":"" %> >Ciencia</option>
	  <option value="otro" <%= quiz.tema === "otro" ? "selected":"" %> >Otro</option>
	</select>

	<label for="preg" class="rem">Pregunta:</label>
	
	<input type="text" class="form-control" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta%>" placeholder="" />
	
	<label for="resp" class="rem">Respuesta:</label>
	
	<input type="text" class="form-control" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta%>" placeholder=""/>
	<div style="margin: 10px 0px" class="text-right">
	<input type="submit" value="Guardar" class="btn btn-primary">
	<a href="/quizes" class="btn btn-warning">Cancelar</a>
	</div>

	

  </div>
</div>